@model Project3.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
